body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.form {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    position: relative;
    margin-right: 200px;
}

form {
    width: 500px;
    background: #fff;
    padding: 20px;
    /*border-radius: 10px;*/
    position: relative;
    z-index: 10;
}

form div:first-child img {
   position: absolute;
    top: 20px;
    left: 20px;
    width: 160px; /* Adjust size for the GSS logo */
    margin-right: 200px;
}

.heading h1 {
    text-align: center;
    color: #333;
    margin-bottom: 300px;
    position: relative;
    top: 250px;
}

.input-field {
    margin-bottom: 20px;
    margin-right: 500px;
}

.input-field input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-field  {
    display: block;
}

.input-email {
    display: block;
}

.input-field {
    display: block;
}

.input-password {
    display: block;
}

.input-field {
    margin-right: 5px;
}

.bet{
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.input-field div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-field div:last-of-type {
    justify-content: space-between;
    margin-bottom: 0;
}

.Forgot-password {
    margin-left: 400px;
    text-decoration: none;
    font-size: 14px;
    color: #007BFF;
}

.Forgot-password:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background: #0056b3;
}

form div:last-child img {
    /*position: absolute;*/
    top: 50%;
    right: -150px; /* Adjust based on the desired offset */
    transform: translateY(-50%);
    width: 200px; /* Adjust size for the background image */
    opacity: 0.8;
    position: relative;
    left: 500px;
    bottom: 150px;
    width: 300px;
    height: 300px;
    
    
}
.rememberme {
    margin-left: 100px;
    text-decoration: none;
    font-size: 15px;
}
.me{
    margin-right: 400px;
    font-size: 15px;
}
.pass{
    font-size: 10px;
    position: relative;
    bottom: 20px;
}